meta(content="" name="author")
meta(content="" name="description")
meta(content="" name="keywords")
meta(content="width=device-width, initial-scale=1" name="viewport")
meta(content="ie=edge" http-equiv="x-ua-compatible")

//- favicon block start
link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
link(rel="icon" type="image/png" href="./favicon.png")
//- favicon block end

link(rel='stylesheet' href='./css/vendor.css')
link(rel='stylesheet' href='./css/commons.css')
link(rel='stylesheet' href='./css/media.css')


<!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->